@page "/DetalleTecnico/{tecnicosId:int}"

@inject TecnicoServices tecnicosServices
@inject NavigationManager navigation

<PageTitle>Detalle del técnico</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3><strong>Detalle del técnico</strong></h3>
        </div>

        <div class="card-body">
            <div class="mb-1">
                <p class="mb-0"><strong>TecnicoId:</strong> @tecnicoId.tipoid</p>
            </div>
            <div class="mb-1">
                <p class="mb-0"><strong>Tecnico:</strong> @tecnicoId.TecnicosTipos</p>
            </div>
            <!-- Agrega aquí cualquier otro detalle que desees mostrar -->
        </div>

        <div class="card-footer">
            <a href="/Tecnico" class="btn btn-outline-dark">Volver</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int tecnicosId { get; set; }
    public Tecnicos tecnicoId { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (tecnicosId > 0)
            tecnicoId = await tecnicosServices.Buscar(tecnicosId);
    }
}
